.heroBoxContainer {
  width: 250px;
  background-color: #eeeeee;
  border-radius: 77% 23% 44% 56% / 51% 63% 37% 49%;
  margin: auto;
}
.heroBoxHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroBoxHeader .heroBoxTitle {
  padding: 0 20px;
  font-size: 20px;
}
.heroBoxContainer .heroBoxCount {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
